---
import Socials from "@/components/Herosection/Socials.astro";
import Skills from "@/components/Herosection/Skills.astro";
import { cosmic } from "@/lib/cosmic";
const {
  object: { metadata: details },
} = await cosmic.objects
  .findOne({
    type: "personal-details",
    slug: "details",
  })
  .props("slug,title,metadata")
  .depth(1);
---

<section class="flex items-center gap-6 flex-col p-10">
  <div class="w-[16rem] p-2.5 relative">
    <div
      class="absolute w-full h-full inset-0 border rounded-full animate-[spin_5s_linear_infinite] border-neutral-800 bg-gradient-to-t from-neutral-950 to-neutral-800"
    >
    </div>
    <img
      class="saturate-0 brightness-[0.6] rounded-full mx-auto"
      src={details.profile_picture.url}
      alt=""
    />
    <Skills />
  </div>
  <div class="flex flex-col items-center gap-2">
    <div
      class="flex bg-green-950/50 w-fit gap-3 items-center px-3 py-1.5 rounded-md"
    >
      <div class="relative flex justify-center items-center">
        <span class="bg-green-400 size-2 rounded-full block"></span><span
          class="bg-green-400 size-2.5 rounded-full block absolute animate-ping"
        ></span>
      </div>
      <span class="text-sm"> Available for work </span>
    </div>
    <h1
      class="text-5xl font-bold drop-shadow-[0_0px_12.8px_rgba(255,255,255,0.20)] shadow-white"
    >
      {details.name}
    </h1>
    <div class="text-md text-muted-foreground">
      {
        details.roles.map(({ role }: { role: string }, i: number) => {
          return (
            <span>
              {role} {i !== details.roles.length - 1 && `•`}
            </span>
          );
        })
      }
    </div>
  </div>
  <Socials />
</section>
