---
import Socials from "@/components/Herosection/Socials.astro";
import Skills from "@/components/Herosection/Skills.astro";
import { cosmic } from "@/lib/cosmic";
import Animate from "../Animate";
import { motion } from "framer-motion";
import { cn } from "@/lib/utils";
const {
  object: { metadata: details },
} = await cosmic.objects
  .findOne({
    type: "personal-details",
    slug: "details",
  })
  .props("slug,title,metadata")
  .depth(1);
---

<section
  class="flex min-h-svh justify-center items-center gap-10 flex-col p-10"
>
  <div class="w-[16rem] p-2.5 relative">
    <Animate
      initial={{ opacity: 0 }}
      animate={{ opacity: 1 }}
      client:load
      transition={{ delay: 0.3, duration: 1 }}
    >
      <div
        class="absolute w-full h-full inset-0 border rounded-full animate-[spin_5s_linear_infinite] border-neutral-800 bg-gradient-to-t from-neutral-950 to-neutral-800"
      >
      </div>
    </Animate>
    <motion.img
      client:load
      initial={{ scale: 0.95, opacity: 0 }}
      animate={{ scale: 1, opacity: 1 }}
      transition={{ duration: 0.8, ease: "easeInOut" }}
      className="saturate-0 brightness-[0.6] rounded-full mx-auto"
      src={details.profile_picture.url}
      alt=""
    />
    <Skills />
  </div>

  <div class="flex flex-col items-center gap-4">
    <motion.div
      client:load
      initial={{ opacity: 0 }}
      animate={{ opacity: 1 }}
      transition={{ duration: 1, delay: 0.5 }}
      className="overflow-hidden flex bg-green-950/50 w-fit gap-3 items-center px-3 py-1.5 rounded-md"
    >
      <div class="relative flex justify-center items-center">
        <span class="bg-green-400 size-2 rounded-full block"></span><span
          class="bg-green-400 size-2.5 rounded-full block absolute animate-ping"
        ></span>
      </div>
      <motion.span
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ delay: 1 }}
        className="text-sm"
      >
        Available for work
      </motion.span>
    </motion.div>
    <Animate
      client:load
      initial={{ filter: "blur(10px)", y: 8, opacity: 0 }}
      animate={{ opacity: 1, filter: "blur(0)", y: 0 }}
      transition={{ duration: 1 }}
    >
      <h1
        class="text-5xl font-bold drop-shadow-[0_0px_12.8px_rgba(255,255,255,0.20)] shadow-white"
      >
        {details.name}
      </h1>
    </Animate>
    <div class="text-md text-muted-foreground">
      {
        details.roles.map(({ role }: { role: string }, i: number) => {
          return (
            <Animate
              client:load
              initial={{ opacity: 0, y: 8, filter: "blur(10px)" }}
              animate={{ opacity: 1, y: 0, filter: "blur(0px)" }}
              transition={{ duration: 0.8, delay: i * 0.3 + 0.5 }}
              className={cn("inline-block", i !== 0 && "ml-1")}
            >
              <span>
                {role}{" "}
                <Animate
                  client:load
                  initial={{ opacity: 0 }}
                  animate={{ opacity: 1 }}
                  transition={{ duration: 0.5, delay: 2 }}
                  className="inline"
                >
                  {i !== details.roles.length - 1 && `•`}
                </Animate>
              </span>
            </Animate>
          );
        })
      }
    </div>
  </div>
  <Socials />
</section>
