---
import { cosmic } from "@/lib/cosmic";

const { objects: skills } = await cosmic.objects
  .find({ type: "skills" })
  .props("slug,title,metadata")
  .depth(1);
---

<div
  class="absolute max-w-sm left-1/2 -translate-x-1/2 -translate-y-1/2"
  style={{
    mask: "linear-gradient(90deg,transparent,white 40%,white 60%, transparent)",
  }}
>
  <ul class="flex gap-2 w-max animate-scroll">
    {
      skills.map((skill: any) => {
        return (
          <img
            class="size-9 "
            src={skill.metadata.logo.url}
            alt={skill.title}
          />
        );
      })
    }
    {
      skills.map((skill: any) => {
        return (
          <img
            class="size-9 "
            src={skill.metadata.logo.url}
            alt={skill.title}
          />
        );
      })
    }
  </ul>
</div>
