---
import AvailableStatus from '@/components/AvailableStatus.astro'
import ContactForm from './ContactForm'
import LocalTime from './LocalTime'
import GradientHeading from '@/components/GradientHeading.astro'
---

<section id="contact" class="pt-56 pb-64 flex relative">
  <div class="max-w-2xl space-y-12">
    <div class="space-y-3">
      <AvailableStatus />
      <GradientHeading className="text-4xl sm:text-6xl mx-0 sm:leading-normal">
        Let's work together.
      </GradientHeading>
      <p class="text-muted-foreground max-w-md">
        Always excited to team up with amazing individuals for interesting
        projects. Let's bring our ideas to life!
      </p>
    </div>
    <ContactForm client:load />
  </div>
  <div
    class="hidden lg:flex justify-center flex-grow min-w-64 font-semibold relative h-fit"
  >
    <img
      src="/india.png"
      alt="India"
      class="absolute -z-10 top-0 scale-150 opacity-80"
      style={{
        mask: 'radial-gradient(51.41% 51.22% at 45% 50%, rgba(0, 0, 0, 0.8) 0%, rgba(115, 115, 115, 0.00) 100%)'
      }}
    />
    <LocalTime client:load />
  </div>
</section>
