---
import GradientHeading from '@/components/GradientHeading.tsx'
import TestimonialCarousel from './TestimonialCarousel'
import { cosmic } from '@/lib/cosmic'

const { objects } = await cosmic.objects
  .find({ type: 'testimonials' })
  .limit(10)
  .props('slug,title,metadata,type')
  .depth(1)
---

<section class="mt-56">
  <GradientHeading
    client:load
    text="See what others are saying."
    className="text-4xl sm:text-6xl mb-16 mx-0 font-medium max-w-xl sm:leading-tight"
  />
  <TestimonialCarousel testimonials={objects} client:load />
</section>
