---
import { cosmic } from '@/lib/cosmic'
import GradientHeading from '../GradientHeading.astro'
import Icon from '../Icon'

interface Service {
  title: string
  description: string
  icon: string
}

const {
  object: { metadata: about }
} = await cosmic.objects
  .findOne({
    type: 'about',
    slug: 'myself'
  })
  .props('slug,title,metadata')
  .depth(1)
---

<section>
  <GradientHeading
    className="text-4xl sm:text-6xl mb-16 mx-0 max-w-3xl font-medium leading-tight"
  >
    Services that supercharge your business
  </GradientHeading>

  <div class="grid md:grid-cols-2 gap-8">
    {
      about.services.map((service: Service) => {
        return (
          <div class="bg-card p-6 md:p-9 border gap-4 md:gap-0 flex flex-col justify-between md:h-52 rounded-xl relative overflow-hidden">
            <div class="bg-foreground/20 h-[40rem] w-8 rounded-full blur-lg absolute rotate-[60deg] -top-full right-10" />
            <div class="bg-foreground/10 h-[40rem] w-8 rounded-full blur-lg absolute rotate-[60deg] -top-full right-48" />
            <Icon
              className="size-9 bg-transparent drop-shadow-[0_0_27px_var(--tw-shadow-color)] shadow-foreground"
              client:load
              iconName={service.icon}
            />
            <div>
              <h2 class="text-xl font-medium">{service.title}</h2>
              <p class="text-md text-muted-foreground mt-2">
                {service.description}
              </p>
            </div>
          </div>
        )
      })
    }
  </div>
</section>
