---
const { href } = Astro.props;
---

<a href={href}>
  <article
    class="bg-card/80 border-border rounded-xl border p-10 group h-[25rem] relative overflow-hidden"
  >
    <slot />
  </article>
</a>
