---
import Icon from "@/components/Icon";
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  title: string;
  size?: "small" | "large";
  metadata: {
    overview: string;
    thumbnail: {
      url: string;
    };
  };
}

const { href, metadata, title, size = "small" } = Astro.props;
---

<a href={href}>
  <article
    class={cn(
      "bg-card/80 border-border rounded-xl border px-6 py-10 sm:p-10 h-[20rem] group md:h-[23rem] lg:h-[25rem] relative overflow-hidden",
      size === "large" && "sm:h-[35rem] lg:h-[45rem]"
    )}
  >
    <div class="flex gap-2">
      <div class="space-y-2">
        <h2 class="text-2xl font-medium">{title}</h2>
        <p class="text-muted-foreground line-clamp-2">
          {metadata.overview}
        </p>
      </div>
      <Icon size={28} client:load iconName="RiArrowRightLine" />
    </div>
    <img
      class="absolute w-full translate-y-8 group-hover:translate-y-6 transition-all"
      src={metadata.thumbnail.url}
      alt=""
      width="300"
      height="300"
    />
  </article>
</a>
