---
import Animate from "./Animate";
const config = {
  duration: 2,
  delay: 0,
};
---

<div class="absolute h-svh w-full inset-0 -z-10 overflow-hidden">
  <Animate
    client:load
    initial={{ opacity: 0, x: "100%", scale: 0, rotate: 45 }}
    animate={{ opacity: 1, x: "0", scale: "100%", rotate: 45 }}
    transition={{
      duration: config.duration,
      ease: "easeOut",
      delay: config.delay,
    }}
    className="h-[85rem] w-[10rem] rounded-[50%] bg-accent/40 absolute -top-[70%] md:-top-[40rem] -right-1/2 md:left-[70%] blur-[22px] rotate-45"
  />
  <Animate
    client:load
    initial={{ opacity: 0, x: "100%", scale: 0, rotate: 45 }}
    animate={{ opacity: 1, x: "0", scale: "100%", rotate: 45 }}
    transition={{
      duration: config.duration + 1,
      ease: "easeOut",
      delay: config.delay / 3,
    }}
    className="h-[60rem] w-[6rem] rounded-[50%] bg-accent/30 absolute -top-[35rem] -right-1/2 md:left-[60%] blur-[20px] rotate-45"
  />
</div>
