---
import { cosmic } from '@/lib/cosmic'
import '@fontsource/dm-serif-display/400-italic.css'
import GradientHeading from '@/components/GradientHeading.astro'

const {
  object: { metadata: details }
} = await cosmic.objects
  .findOne({
    type: 'personal-details',
    slug: 'details'
  })
  .props('slug,title,metadata')
  .depth(1)

const styles = [
  'rotate-[10deg] translate-y-20 scale-105',
  'rotate-[4deg] -translate-y-20',
  '-rotate-12 translate-y-10 scale-110',
  '-rotate-[20deg] -translate-y-10 ',
  '-rotate-3 -translate-y-32 col-start-3'
]
---

<section class="min-h-[60svh] flex justify-start items-center relative my-64">
  <GradientHeading className="text-8xl">
    I develop <span class="font-bold">
      <span class="text-gray-400/40 blur-md absolute">Mobile Apps</span> Mobile Apps</span
    > and <span class="font-serif font-normal italic">Web experiences</span>.
  </GradientHeading>
  <div
    class="absolute w-screen left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 max-h-screen opacity-20 -z-20 overflow-hidden"
  >
    <div
      class="absolute w-full h-screen bg-gradient-to-t from-background via-transparent to-background z-0"
    >
    </div>
    <div class="relative -z-20 grid grid-cols-3 auto-cols-fr w-full gap-y-64">
      {
        details.highlights.map(
          ({ image }: { image: { url: string } }, i: number) => {
            return <img src={image.url} class={styles[i] + ''} width="100%" />
          }
        )
      }
    </div>
  </div>
</section>
